PORT=3000
NODE_ENV=development

FRONTEND_ORIGIN=http://127.0.0.1:5502,http://localhost:5502

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cineflick
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA=

JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

TMDB_API_KEY=your_tmdb_api_key_here
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_LANGUAGE=es-ES
TMDB_REGION=US
